<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8" />
    <title>Chapter 8: Gallery</title>
    <link href="@Url.Content("~/Content/gallery.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <ul class="gallery">
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle1.jpg")" alt="Widget the cat" />
                <span>Beagle</span></li>
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle2.jpg")" alt="This is my tongue" />
                <span>looking very serious today</span></li>
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle3.jpg")" alt="Widget the cat is looking very
            serious today" />
                <span>Like a cat</span></li>
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle4.jpg")" alt="Widget and his very favorite
            person" />
                <span>They are sleeping</span></li>
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle5.jpg")" alt="Widget explores" />
                <span>He's jumper</span></li>
            <li><img src="@Url.Content("~/Content/themes/base/images/beagle6.jpg")" alt="Widget is sleeping" />
                <span>Running</span></li>
        </ul>
    </div>

</body>
</html>