<!DOCTYPE htme >
<html>
<head>
    <meta charset="utf-8" />
    <title>Menu CSS</title>
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="inner">
            <div class="wrapper">
                <h1>Menu <span>for</span> Test</h1>
            </div>
        </div>
    </div>
    <div class="drapper">
        <div class="subnav">
            <ul class="nav">
                <li><a href="@Url.Action("Index","Home")">Text Styling and Other Basics</a></li>
                <li><a href="@Url.Action("Chapter3", "Home")">Images and Other Design Elements</a></li>
                <li><a href="@Url.Action("Chapter4", "Home")">Navigation</a></li>
                <li><a href="@Url.Action("Chapter41", "Home")">Navigation2</a></li>
                <li><a href="@Url.Action("Chapter5", "Home")">Tabular Data</a></li>
                <li><a href="@Url.Action("Chapter51", "Home")">Tabular Data2</a></li>
                <li><a href="@Url.Action("Calendar", "Home")">Calendar Page</a></li>
                <li><a href="@Url.Action("PricingPage", "Home")">Pricing Page</a></li>
                <li><a href="@Url.Action("Chapter61Form", "Home")">Forms and UI</a></li>
                <li><a href="@Url.Action("Chapter62FieldSets", "Home")">Forms FieldSets</a></li>
                <li><a href="@Url.Action("Chapter63Inline", "Home")">Forms Inline</a></li>
                <li><a href="@Url.Action("Chapter81InlineBlock", "Home")">Positioning Basics (InlineBlock)</a></li>
                <li><a href="@Url.Action("Chapter82Float", "Home")">Positioning Basics (Float)</a></li>
                <li><a href="@Url.Action("Chapter83Position", "Home")">Positioning Basics (Position)</a></li>
                <li><a href="@Url.Action("Chapter84Gallery", "Home")">Positioning Basics (Gallery)</a></li>
                <li><a href="@Url.Action("Chapter9TwoColPosition", "Home")">Layout 2 Column</a></li>
                <li><a href="@Url.Action("Chapter9TwoColFloat", "Home")">Layout 2 Column Float</a></li>
                <li><a href="@Url.Action("Chapter9ThreeColFloat", "Home")">Layout 3 Column Float</a></li>
                <li><a href="@Url.Action("Chapter9ThreeColWideFooter", "Home")">Layout 3 Column Footer</a></li>
                <li><a href="@Url.Action("Chapter9Responsive", "Home")">Layout Responsive</a></li>                
            </ul>
        </div>
    </div>

</body>
</html>